*{
padding: 0;
margin: 0;
box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
    background-color: #d3e1ed;
    overflow-y: scroll;
    
}
nav{
    position: sticky;
    display: flex;
    justify-content:space-between;
    background-color: #f0f8ff;
    box-shadow: 0 0 5px;
    padding: 10px 5px;
    top: 0;
    z-index: 10;
}
nav a{
    font-family: sans-serif;
    text-decoration: none;
}
nav .homebox{
    margin-left: 20px;
}
nav .homebox a{
    padding-left: 15px;
}
nav .leftbar img{
    width: 25px;
    margin-right:10px ;
}
.sidebar{
    position: fixed;
    width: 5%;
    height: 100vh;
    margin-left: 0;
    background-color: #c3e7b7;
    z-index: 5;
}
.sidebar a p{
    display: none;
}
.stuff{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.stuff .profile_image img{
    width: 50px;
    border-radius: 50%;
    margin:10px 0px ;
}
.stuff .account_info  {
    border: 1px outset teal;
}
.stuff .account_info a {
    display: flex;
    align-items: center;
    width: fit-content;
    margin-bottom: 15px;
    /* border: 1px inset teal; */
    color: rgb(120, 107, 15);
}
.stuff .account_info a img{
    width: 35px;
    margin-right: 25px;
}

.smallsidebar{
    width: 15%;
}
.smallsidebar a p{
    display: flex;
}